<div id="streams-div">
    <div id="streams-search-div">
        <div id="streams-search-textarea-div" contenteditable="true"></div>
        <div id="streams-search-button-div">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>
        </div>
    </div>
    <div class="stream-card-div">
        <img class="stream-image" src="/assets/images/streams/persona4.jpg" alt="">
        <span class="stream-name">Прохождение Persona 5</span>
        <span class="stream-channel-name">@DeadP47</span>
        <span class="stream-viewers-count">7942 смотрят</span>
        <span class="stream-description">Проходим Persona 5 Royal в 4K и шутим шутки</span>
        <span class="stream-status-live">LIVE</span>
    </div>
    <div class="stream-card-div">
        <img class="stream-image" src="/assets/images/streams/msg.jpg" alt="">
        <span class="stream-name">Обзор MGS: Phantom Pain</span>
        <span class="stream-channel-name">@DeadP47</span>
        <span class="stream-viewers-count">27880 просмотров</span>
        <span class="stream-description">Это обзор Metal Gear Solid 5. Здесь я пройдусь по данному произведению Хидео Кодзимы и расскажу почему эта игра получила свои оценки на Metacritic незаслуженно.</span>
        <span class="stream-status-recorded">01:35:48</span>
    </div>
    <div class="stream-card-div">
        <img class="stream-image" src="/assets/images/streams/starwars.jpg" alt="">
        <span class="stream-name">СТРИМ ПО LEGO STAR WARS</span>
        <span class="stream-channel-name">@IAmYourFather</span>
        <span class="stream-viewers-count">1324 смотрят</span>
        <span class="stream-description">Полное прохождение новейшей игры! Подключайся скорее!</span>
        <span class="stream-status-live">LIVE</span>
    </div>
    <div class="stream-card-div">
        <img class="stream-image" src="/assets/images/streams/halo.jpg" alt="">
        <span class="stream-name">Kickin' butts on Halo Infinite</span>
        <span class="stream-channel-name">@snAke_bit4</span>
        <span class="stream-viewers-count">320 смотрят</span>
        <span class="stream-description">Donation link: www.donatepls.com/snAke_bit4</span>
        <span class="stream-status-live">LIVE</span>
    </div>
    <div class="stream-card-div">
        <img class="stream-image" src="/assets/images/streams/stardew.jpg" alt="">
        <span class="stream-name">Stardew Valley. День 4</span>
        <span class="stream-channel-name">@AtomicSparrow</span>
        <span class="stream-viewers-count">169086 просмотров</span>
        <span class="stream-description">Очередной день на солнечной ферме. Сегодня отправимся в шахту за рудой!</span>
        <span class="stream-status-recorded">25:07</span>
    </div>
</div>