<div id="stream-main-div">
    <div id="stream-content-div">
        <div id="stream-video-div">
            <div id="video-player-div">
                <img id="video-img" src="/assets/images/streams/persona4.jpg" alt="">
            </div>
            <div id="hud-div"></div>
            <div id="stream-name-div" (click)="closeStream()"><span>Прохождение Persona 5</span></div>
            <div id="viewers-count-div"><span>7942 смотрят</span></div>
            <div id="channel-div">
                <img src="/assets/images/group-images/deadp47.jpg" alt="">
                <span>@DeadP47</span>
            </div>
        </div>
        <div id="stream-comments-div">
            <div id="stream-comments-header-div">
                <span>Чат:</span>
            </div>
            <div class="divider-div"></div>
            <div class="stream-comment-div">
                <img src="/assets/images/profiles/myprofile.jpeg" alt="">
                <span class="comment-author-name">Daniil Savelev</span>
                <span class="comment-author-tag">@sk8er_boi</span>
                <span class="comment-text">Сонибои плачут горькими слезами!</span>
            </div>
            <div class="divider-div"></div>
            <div class="stream-comment-div">
                <img src="/assets/images/profiles/white.jpg" alt="">
                <span class="comment-author-name">Jack White</span>
                <span class="comment-author-tag">@jakewhiteofficial</span>
                <span class="comment-text">это даже на свитч выйдет???</span>
            </div>
            <div class="divider-div"></div>
            <div class="stream-comment-div">
                <img src="/assets/images/profiles/victor.jpg" alt="">
                <span class="comment-author-name">Victor Serebrennikov</span>
                <span class="comment-author-tag">@victorBEERenjoyer</span>
                <span class="comment-text">Спасибо сони за бета-тест</span>
            </div>
            <div class="divider-div"></div>
            <div class="stream-comment-div">
                <img src="/assets/images/profiles/victor.jpg" alt="">
                <span class="comment-author-name">Victor Serebrennikov</span>
                <span class="comment-author-tag">@victorBEERenjoyer</span>
                <span class="comment-text">ДАЁШЬ ПИВНОЙ СТРИМ ПО ПЕРСОНЕ!</span>
            </div>
            <div class="stream-new-comment-div">
                <span>Оставьте сообщение:</span>
                <div contenteditable="true"></div>
            </div>
        </div>
    </div>
    
</div>