<div id="authorization-main-div">
    <div id="authorization-login-div">
        <!-- <img src="/assets/images/profiles/myprofile.jpeg" alt=""> -->
        <div class="greeting-div">
            <span>Добро пожаловать, GAYмер!</span>
        </div>
        <div id="logo-div">GP</div>
        <div class="login-text-div">
            <span>Логин:</span>
        </div>
        <div class="login-insert-div" contenteditable="true"></div>
        <div class="password-text-div">
            <span>Пароль:</span>
        </div>
        <div class="password-insert-div" contenteditable="true"></div>
        <div class="login-button-div" routerLink="/profile"><span>Войти</span></div>
        <div class="registration-button-div"><span>Регистрация</span></div>
        <div class="forgot-div"><span>Забыли пароль?</span></div>
    </div>

</div>
