<div class="header-div" *ngIf="!headerIsHidden">
    <div class="header-div-item">
        <span style="font-weight: 900;">GP</span>
    </div>
    <div class="header-div-item" routerLink="/profile">
        <span>Профиль</span>
    </div>
    <div class="header-div-item" routerLink="/chats">
        <span>Чаты</span>
    </div>
    <div class="header-div-item" routerLink="/communities">
        <span>Сообщества</span>
    </div>
    <div class="header-div-item" routerLink="/news">
        <span>Новости</span>
    </div>
    <div class="header-div-item" routerLink="/streams">
        <span>Трансляции</span>
    </div>
    <div class="header-div-item" routerLink="/games">
        <span>Игры</span>
    </div>
    <div class="header-div-item" id="exit-div-item" (click)="hideHeader()" routerLink="/authorization">
        <span>Выйти</span>
    </div>

</div>