<div id="games-div">
    <div id="games-search-div">
        <div id="games-search-textarea-div" contenteditable="true"></div>
        <div id="games-search-button-div">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>
        </div>
    </div>
    <div class="game-card-div" routerLink="/americantrucksimulator">
        <img class="game-image" src="/assets/images/games/ats.jpg" alt="">
        <span class="game-name">American Truck Simulator</span>
        <span class="game-publisher-name">@SCSSoftware</span>
        <span class="game-description">Experience legendary American trucks and deliver various cargoes across sunny California, sandy Nevada, and the Grand Canyon State of Arizona. American Truck Simulator takes you on a journey through the breathtaking landscapes and widely recognized landmarks around the States.</span>
        <!-- <span class="game-buy">Buy</span> -->
    </div>
    <div class="game-card-div">
        <img class="game-image" src="/assets/images/games/stardew.png" alt="">
        <span class="game-name">Stardew Valley</span>
        <span class="game-publisher-name">@ConcernedApe</span>
        <span class="game-description">You've inherited your grandfather's old farm plot in Stardew Valley. Armed with hand-me-down tools and a few coins, you set out to begin your new life. Can you learn to live off the land and turn these overgrown fields into a thriving home? It won't be easy. Ever since Joja Corporation came to town...</span>
        <!-- <span class="game-buy">Buy</span> -->
    </div>
    <div class="game-card-div">
        <img class="game-image" src="/assets/images/games/wwe.jpg" alt="">
        <span class="game-name">WWE 2K22</span>
        <span class="game-publisher-name">@2K</span>
        <span class="game-description">WWE 2K's MyCareer was rebranded as MyRISE and focused on separate stories for both male and female superstars. Using created superstars, players can form alliances, make enemies, and branch into subplots based upon the players choices.</span>
        <!-- <span class="game-buy">Buy</span> -->
    </div>
    <div class="game-card-div">
        <img class="game-image" src="/assets/images/games/persona5.jpeg" alt="">
        <span class="game-name">Persona 5</span>
        <span class="game-publisher-name">@ALTUS</span>
        <span class="game-description">Призрачные Похитители Сердец, группа вигилантов под руководством главного героя по кодовому имени Джокер, спасается бегством из казино, на которое группа совершила набег. Протагонист пытается сбежать с украденным...</span>
        <!-- <span class="game-buy">Buy</span> -->
    </div>
    <div class="game-card-div">
        <img class="game-image" src="/assets/images/games/starwars.jpg" alt="">
        <span class="game-name">Star Wars: Jedi: The Fallen Order</span>
        <span class="game-publisher-name">@ElectronicArts</span>
        <span class="game-description">Действия Fallen Order проходят между третьим и четвёртым фильмами «Звёздных войн» — спустя пять лет после преобразования Галактической Республики в эпоху правления Империи под руководством Шива Палпатина.</span>
        <!-- <span class="game-buy">Buy</span> -->
    </div>
</div>