@font-face {
    font-family: 'Uni Sans';
    src: url('./UniSansHeavy.otf') format("opentype");
    font-style: bold;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('./UniSansHeavyItalic.otf') format("opentype");
    font-style: italic, bold;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('./UniSansThin.otf') format("opentype");
}

@font-face {
    font-family: 'Uni Sans';
    src: url('./UniSansThinItalic.otf') format("opentype");
    font-style: italic;
}