<div id="profile-div">
    <div id="profile-main-info-div">
        <div id="profile-picture-div">
                <img id="profile-picture-div-img" src="/assets/images/profiles/myprofile.jpeg" alt="">
        </div>
        <div id="profile-name-div">
            <span>{{profileName}}</span>
        </div>
        <div id="profile-tagname-div">
            <span>@{{profileTagname}}</span>
        </div>
        <div id="profile-info-div">
            <span>{{profileInfo}}</span>
        </div>
    </div>
    <div id="newsfeed-div">
        Лента новостей
    </div>
</div>