<div id="profile-div">
    <div id="profile-main-info-div">
        <div id="profile-picture-div">
                <img id="profile-picture-div-img" src="/assets/images/profiles/myprofile.jpeg" alt="">
        </div>
        <div id="profile-name-div">
            <span>{{profileName}}</span>
        </div>
        <div id="profile-tagname-div">
            <span>@{{profileTagname}}</span>
        </div>
        <div id="profile-info-div">
            <span>{{profileInfo}}</span>
        </div>
    </div>
    <div id="my-newsfeed-div">
        <div id="my-newsfeed-header-div">
            <span>Моя лента новостей</span>
        </div>
        <div class="newsblock-div">
            <span class="newsblock-text">
                Только что приобрёл новое DLC к <span class="newsblock-tag-span">@AmericanTruckSimulator</span> - DLC Montana. Титаническая работа была проделана. Моё уважение ребятам из <span class="newsblock-tag-span">@SCSSoftware</span>!
            </span>
            <div class="newsblock-buttons-div">
                <svg class="like-button-off" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"/></svg>
                <svg class="comment-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"/></svg>
            </div>
            <div class="newsblock-signature-div">
                <span class="newsblock-signature-span">by: {{profileName}} on May, 4th 2022 at 12:35</span>
                <img class="newsblock-signature-img" src="/assets/images/profiles/myprofile.jpeg" alt="">
            </div>
        </div>
        <div class="newsblock-div">
            <span class="newsblock-text">
                <h3 class="newsblock-header-text" style="margin-top: 0;">18 КОЛЁС. В ПЕРЕМЕШКУ С ХРОМОМ</h3>
                 <p>Чехи SCS Software уже много лет подряд делают, по факту одну и ту же игру, меняя лишь антураж и стиль. Да и то "меняют" они так себе. Взять, к примеру, их поделку 2009 с названием 18 Wheels of Steel: American Long Haul. Мало того, что она без особых изменений перекочевала в Euro Truck Simulator 2, так теперь этот самый American Long Haul вернулся вновь, но уже как American Truck Simulator. Слава яйцам, разработчики угомонились и не выпускают каждый год новую часть игры с минимальными изменениями. В своё время такая политика, помогла им достичь того, что мы сейчас имеем в лице ETS 2 и ATS.</p> 
                 <p>В наше время легко встретить любой симулятор чего-либо.. от унитаза до куска хлеба. А вот в жанре симулятор дальнобойщика, по сути, сейчас есть только 2 игры. Две выженазваные butts уселись на один трон собрав огромную толпу фанатов, любителей и людей, которые получают удовольствие от умиротворенного геймплея.</p>
                 <p>Хоть игра со стороны смотрится банально, в ней есть ништяки, которые заставляют запускать ее, брать груз и ехать за горизонт снова, снова и снова.... романтика дорог, звук мотора и возможность слегка почувствовать себя в шкуре дальнобойщика.</p>  
                <h3 class="newsblock-header-text">ИГРА</h3>
                 <p>Суть сводится к тому, что нам надо сделать так, дабы работали не мы, а работали на нас. Здесь всё сведено до минимума. Игра сделана для того, чтобы ею наслаждаться. Для меня она стала своеобразным отдыхом... никаких напрягов, взял груз, включил радио, выехал на трассу и на круиз контроле катишься из точки А в точку Б думая о своём и мечтая о прекрасном.</p>
                 <p>Естественно, начинаем мы как бывший водитель маршрутки, который получил грин карту, влез в кредиты и смог открыть свою компанию по грузоперевозкам. Первые несколько часов проходят в довольно щадящем режиме - все задания элементарные и предполагают банальную езду из одной точки в другую. Именно в этот момент игра и начинает околдовывать, ведь вы начинаете ассоциировать себя с водителем и загораетесь искрой азарта, получая опыт и деньги после каждого выполненного контракта. Изначально будем работать на фирмы, которые будут предоставлять нам трак и задачу по доставке. Ездить будем много, пока не сможем купить свой собственный грузовик (или опять таки взяв кредит) и набраться опыта для прокачки возможностей таскать опасные грузы, ездить дальше соседнего города, получать бонусы за срочную доставку и экономней тратить топливо.</p>
                 <p>Поняв общую механику игры перед нами, появляется новая задача, наслаждаться игрой, выплачивать кредит (если он есть), тюнинговать и прокачивать трак и в конечном итоге построить свою империю грузоперевозок, со своим автопарком и водителями.</p>
                <h3 class="newsblock-header-text">ГЕЙМПЛЕЙ</h3>
                 <p>Затягивает, завораживает и доставляет. В этой игре можно расслабиться и поможет в этом красота окружающего мира. Встреча закатов и рассветов это нечто и очень красиво. Перед вами настоящие Соединенные Штаты Америки, грузовик выглядит как хромированный монстр, а европейские живописные пейзажи уступили место пустынным и широким хайвеям, ограничениями скорости в 120 км/ч (не во всех штатах), горами и песком. Включаешь "Take Me Home, Country Roads", одеваешь ковбойскую шляпу, заводишь свой Питербилт или Кенворт, цепляешь груз весом в 40 тонн и... стоишь на месте, потому что трак со слабым движком и шасси не может потянуть такой вес))</p>
                 <p>Отели, мастерские и заправки сохранили общую механику. На карте вам предстоит открывать дороги, города, а также исследовать места, обозначенные знаком вопроса, скрывающие под собой как кадровые агентства, так и автосалоны.</p>
                <img class="newsblock-text-img" src="/assets/images/ats-post.jpg" alt="">
            </span>
            <div class="newsblock-buttons-div">
                <svg class="like-button-on" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg>
                <svg class="comment-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"/></svg>
            </div>
            <div class="newsblock-signature-div">
                <span class="newsblock-signature-span">by: {{profileName}} on May, 4th 2022 at 0:35</span>
                <img class="newsblock-signature-img" src="/assets/images/profiles/myprofile.jpeg" alt="">
            </div>
        </div>
    </div>
</div>