<div id="ats-main-div">
    <div id="ats-content-div">
        <div id="ats-info-div">
            <div id="ats-img-div"><img src="/assets/images/games/ats.jpg" alt=""></div>
            <div id="ats-signature-div"><span>American Truck Simulator</span><div id="steam-text-icon">STEAM</div></div>
            <div id="ats-text-div">
                <p>Experience legendary American trucks and deliver various cargoes across sunny California, sandy Nevada, and the Grand Canyon State of Arizona. American Truck Simulator takes you on a journey through the breathtaking landscapes and widely recognized landmarks around the States.</p>
                <img src="/assets/images/ats/ats2.jpg" alt="">
                <p>Game mechanics are based on the highly successful model from Euro Truck Simulator 2 and have been expanded with new features, creating the most captivating game experience from SCS Software.</p>
                <img src="/assets/images/ats/ats1.jpg" alt="">
                <p>American Truck Simulator puts you in the seat of a driver for hire entering the local freight market, making you work your way up to become an owner-operator, and go on to create one of the largest transportation companies in the United States.</p>
                <p style="font-weight: bold;">Features</p>
                    <ul>
                        <li>Drive highly detailed truck models officially licensed from iconic truck manufacturers.</li>
                        <li>Your truck is your new home. Make it yours by changing cabins, chassis, paintjobs, adding tuning accessories or more powerful engines.</li>
                        <li>Lots of different cargoes to choose: From food to machinery to hazard cargoes.</li>
                        <li>Multiple types of trailers – from reefers to flatbeds, from dumpers to lowboys and goosenecks.</li>
                        <li>The longest trailers (up to 53 ft) will challenge your skills and patience while hauling and during parking.</li>
                        <li>Deliver your cargoes to a rich variety of companies and locations like refineries, oil storage, gas stations, car factories, or roadworks.</li>
                    </ul>
                
            </div>
        </div>
        <div id="ats-buy-div">
            <div id="ats-price-div">
                <div id="ats-buy-text-div"><span>Приобрести:</span></div>
                <div id="steam-text-icon-mini" (click)="goToSteam()">$19.99</div>
                <div id="divider-div"><div></div></div>
                <div id="ats-dlc-div">
                    <div id="ats-dlc-text-div"><span>DLC:</span></div>
                </div>
                <div id="ats-dlc-table-div">
                    <div class="ats-dlc-text-div"><img src="/assets/images/ats/dlc8.jpg" alt=""><div class="text-div"><span>DLC Washington</span></div></div>
                    <div class="ats-dlc-text-div"><img src="/assets/images/ats/dlc2.jpg" alt=""><div class="text-div"><span>DLC Colorado</span></div></div>
                    <div class="ats-dlc-text-div"><img src="/assets/images/ats/dlc3.jpg" alt=""><div class="text-div"><span>DLC Utah</span></div></div>
                    <div class="ats-dlc-text-div"><img src="/assets/images/ats/dlc4.jpg" alt=""><div class="text-div"><span>DLC Arizona</span></div></div>
                    <div class="ats-dlc-text-div"><img src="/assets/images/ats/dlc5.jpg" alt=""><div class="text-div"><span>DLC New Mexico</span></div></div>
                    <div class="ats-dlc-text-div"><img src="/assets/images/ats/dlc6.jpg" alt=""><div class="text-div"><span>DLC Idaho</span></div></div>
                    <div class="ats-dlc-text-div"><img src="/assets/images/ats/dlc7.jpg" alt=""><div class="text-div"><span>DLC Texas</span></div></div>
                </div>
            </div>
            <div id="ats-friends-div">
                <div id="first-friends-header-div">Друзья, купившие игру:</div>
                <div id="first-friends-images-div">
                    <img src="/assets/images/profiles/kate.jpg" alt="">
                    <img src="/assets/images/profiles/jack.jpg" alt="">
                    <img src="/assets/images/profiles/white.jpg" alt="">
                </div>
                <div id="second-friends-header-div">Друзья, которые хотят игру:</div>
                <div id="second-friends-images-div">
                    <img src="/assets/images/profiles/rou.jpg" alt="">
                    <img src="/assets/images/profiles/victor.jpg" alt="">
                    <img src="/assets/images/profiles/lynchwood.jpg" alt="">
                    <img src="/assets/images/profiles/dexter.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>